@font-face {
    font-family: 'Rosehot';
    src: url('/fonts/rosehot-free-version/Rosehot.ttf') format('truetype');
}

.navbar-brand {
    font-family: 'Rosehot', sans-serif !important;
    font-size: 2rem !important;
    font-weight: bold;
    font-style: italic;
}